#virtual
venv/
env/
.venv/
.env/
#cash
__pycache__/
*.pyc
*.pyo
*.pyd
#no long time file 
*.cache
*.log
*.tmp
*.swp


#Django
local_settings.py
db.sqlite3
static/
media/
*/migrations/

#Pythom
*.pyc 
*.pyo
pycache/
.pytest_cache/
.mypy_cache/
dist/
build/
.sqlite
.DS_Store
